body { 
    color: #413f3f; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.green-background {
    background-color: rgba(123, 219, 179, 0.219);
}

h1, h2 {
    color: rgba(141, 36, 18, 0.808)
}

.pretty-things {
    font-size: 20px; 
}

.dotted-border {
    border: 1px solid rgb(32, 245, 24); border-radius: 3px; border-style: dotted;
}

